<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>


    <script>
        var mymodule = angular.module("kuchModule", []);


        mymodule.controller("kuchController", function ($scope, $http) {
            $scope.jsonArray = [];

            $scope.doFetchAll = function () {
                var url = "/do-fetch-all-players";


                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    // alert(JSON.stringify(response.data));
                    $scope.jsonArray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };

            $scope.oneRecord = {};
            $scope.doShowDetails = function (index) {
                //alert(JSON.stringify($scope.jsonArray[index]))
                $scope.oneRecord = $scope.jsonArray[index];

            }
        });
    </script>


</head>

<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAll();">

    <center>

        <h2>All Players</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-3  p-3 mb-2" ng-repeat="obj in jsonArray">
                    <div class="card">

                        <img src={{obj.picurl2}} height="150" class="card-img-top" alt="..." />

                        <div class="card-body">

                            <h5 class="card-title">
                                {{obj.name}}
                            </h5>

                            <h5 class="card-title">
                                {{obj.games}}
                            </h5>



                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal"
                                ng-click="doShowDetails($index);">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal --------------------- -->
        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Player's Details:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <p>
                            <img src={{oneRecord.picurl2}} height="150" width="150" />
                        </p>

                        <p>
                            Emailid : {{oneRecord.emailid}}
                        </p>
                        <p>
                            Date: {{oneRecord.contact}}
                        </p>
                        <p>
                            Address: {{oneRecord.Address}}
                        </p>
                        <p>
                            gender: {{oneRecord.gender}}
                        </p>

                        <p>
                            Other-Info: {{oneRecord.otherinfo}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </center>


</body>

</html>